POSTGRES_DB=messageshield
POSTGRES_USER=messageshield
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+psycopg://messageshield:change_me@postgres:5432/messageshield
JWT_SECRET=I2rgIgV9vBSvdMjh8ElhaBFoLX3TEHaZEIxU8DPVEITPfzqJ3O8W0v3k-VsGWNp8
ACCESS_TOKEN_MINUTES=30
MLFLOW_TRACKING_URI=http://mlflow:5000
