<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006712305166-br64feplra3tsg4q9gatu4157rnpni0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006712305166-br64feplra3tsg4q9gatu4157rnpni0s</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUpO3ubZxRhgi1XXeKXFcBXhzSX3nS6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1006712305166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageshield</string>
	<key>PROJECT_ID</key>
	<string>messageshield-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>messageshield-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006712305166:ios:a2d7a40ac71fb5f39fae5f</string>
</dict>
</plist>